{% macro block(data) %}

<section class="block-default" scroll-item>
    <div class="line"><span>Work</span></div>
    <div class="line"><span>About</span></div>
    <div class="line"><span>Approach</span></div>
    <div class="line"><span>Initiatives</span></div>
    <div class="line"><span>Contact</span></div>
    <div class="line"><span>Careeers</span></div>
</section>

{% endmacro %}
